# FICHIER EXEMPLE — ne pas modifier
# Ce fichier est généré automatiquement par : cd terraform/tp-final && terraform apply
# Il sera créé à l'emplacement : ansible/inventories/generated.ini

# Format attendu après terraform apply avec instance_count=2 :

[webservers]
192.168.1.10 ansible_connection=local deploy_environment=development
192.168.1.11 ansible_connection=local deploy_environment=development

[all:vars]
ansible_python_interpreter=/usr/bin/python3
deploy_environment=development
